* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.container .upper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.upper .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: #f2aa4cff;
	padding-inline: 50px;
}

.upper .header > img {
	width: 40px;
	height: 100%;
	margin-left: 10px;
	filter: invert(1);
}

.upper .header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	column-gap: 20px;
}

.upper .header ul a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}

.upper .hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	padding-block: 50px;
	text-align-last: center;
}

.upper .hero > img {
	width: 250px;
	height: 350px;
	border-radius: 50%;
}

.upper .hero > h2 {
	color: blue;
}

.upper .hero > p {
	color: cadetblue;
}

.upper .qualities {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
	background-color: royalblue;
	width: 100%;
	height: 400px;
	color: #fff;
}

.upper .qualities > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: ;
	gap: 20px;
}

.upper .qualities > div:nth-of-type(1) {
	gap: 40px;
}

.upper .qualities > div > h2 {
	text-transform: capitalize;
}

.upper .services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	width: 100%;
	height: 500px;
}

.upper .services .service-list {
	display: flex;
	justify-content: space-around;
	gap: 75px;
}

.upper .services > h2 {
	font-size: 32px;
	color: steelblue;
}

.upper .services .service-list > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background-color: gray;
	color: #fff;
	border-radius: 15px;
	padding: 35px;
	text-align-last: center;
}

.services .service-list h4 {
	font-size: 25px;
}

.container .footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	width: 100%;
	height: 400px;
	background-color: dodgerblue;
	color: #fff;
}

.footer .socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.footer .socials > a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	background-color: dodgerblue;
}

.footer > span {
	margin-top: 30px;
}

/*Media Queries*/

@media screen and (max-width: 1150px) {
	.upper .services .service-list {
		gap: 35px;
	}

	.upper .services .service-list > div {
		padding-inline: 15px;
	}
}

@media screen and (max-width: 1050px) {
	.upper .services {
		padding-inline: 20px;
	}
	.services .service-list > div > span > br {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.upper .qualities {
		padding-inline: 50px;
	}

	.upper .qualities .brief-intro > article > br {
		display: none;
	}
}

@media screen and (max-width: 760px) {
	.upper .qualities .brief-intro > h2 > br {
		display: none;
	}
}

